body {
    display: flex;
    justify-content: center;
    background-color: rgb(27, 7, 36);
}

.screen {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 500px;
    height: 150px;
    margin-bottom: 0px;
    background-color: rgb(255, 236, 250);
    border-radius: 6px;
    font-size: 80px;
    font-weight: 700;
    color:rgb(36, 34, 37);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    width: 500px;
    height: 600px;
    padding: 16px;
    border-radius: 6px;
    background-color: rgb(250, 133, 221);
}

button {
    width: 124px;
    border: 1px solid rgb(250, 133, 221);
    border-radius: 5px;
    font-weight: 700;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    transform: translateY(2px);
}

.number {
    background-color: rgb(88, 31, 110);
}

.number:hover {
    background-color: rgb(69, 25, 87);
}

.ope {
    background-color: rgb(133, 27, 106);
}

.ope:hover {
    background-color: rgb(112, 24, 90);
}

#result, #annuler, #effacer {
    background-color: rgba(220, 20, 60, 0.801);
}

#result:hover, #annuler:hover, #effacer:hover {
    background-color: rgba(133, 8, 33, 0.801);
}

#plusmoins, #perc, #virg {
    background-color: rgb(182, 223, 226);
    color: black;
}

#plusmoins:hover, #perc:hover, #virg:hover {
    background-color: rgb(144, 179, 182);
}

.egg {
    cursor: pointer;
}